:root {
    --color-bg: #2c2e33;
    --color-less-light-gray: #2f3136;
    --color-lighter-gray: #36393f;
    --color-gray: #232527;
    --color-text: #c6d6db;
    --color-navbar: #2f3136;
    --color-cool-blue: #5865f2;
}

html,
body {
    font-family: 'Whitney';
    background: linear-gradient(
        180deg,
        rgb(18, 24, 27) 60%,
        rgb(38, 47, 68) 100%
    );
    background-attachment: fixed;
    overscroll-behavior: none;
    color: var(--color-text);
    margin-top: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.text {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.text * {
    margin: 0;
    padding: 0;
}

main {
    padding: 1rem 5vw;
}

.enter-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    color: black;
    font-weight: bold;
    margin-top: 1em;
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 60%,
        rgb(165, 192, 255) 100%
    );
}

.error-page {
    display: grid;
    place-items: center;
    gap: 1em;
}

.login-text {
    font-weight: 500;
    font-size: 0.75em;
    margin: 0;
    text-align: center;
}

.login-text.medium {
    font-size: 1.25em;
    font-weight: bold;
}

.username-form {
    width: 25em;
}

.navbar {
    width: 100%;
    position: fixed;
    padding: 1em 3vw;
    top: 0;
    color: var(--color-white);
    font-weight: bold;
    z-index: 99;
    background-color: rgb(18, 24, 27);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 1em;
}

.avatar {
    border-radius: 50%;
    cursor: pointer;
}

.navbar li {
    border-radius: 50%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    color: var(--color-text);
    font-weight: bold;
    outline: none;
}

.navbar .button {
    font-size: 1em;
}

.btn-logo {
    background-color: #23272a;
    box-shadow: none;
    font-weight: 700;
}

.logo {
    font-size: 1.75em;
}

.homepage {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.btn-blue {
    background-color: var(--color-cool-blue);
}

.btn-green {
    background-color: rgb(32, 151, 32);
}

.btn-grey {
    background-color: #36393f;
}
.username-form {
    margin-top: 10px;
}

.username-input {
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
}

.btn-logobtn {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0.5em 3em;
    border: none;
    font-weight: bold;
    color: black;
}

.btn-anon {
    background-color: #2f3136;
    color: white;
}

.username {
    width: 100%;
}

.sign-out-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sign-in-buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.post {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 1em;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    gap: 1em;
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.create-post-div {
    margin-top: 1em;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.create-form h3 {
    margin: 0;
}

.post-title-box {
    background: none;
    border: 1px solid white;
    padding: 1em;
    width: 100%;
    border-radius: 1em;
    color: white;
}

.divider {
    width: 100%;
    border-bottom: 1px solid white;
    margin-bottom: 1em;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-post-content {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 2em;
}

.heart-section {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    border: 1px solid white;
    text-align: center;
    width: 100%;
    height: 0;
    min-height: 150px;
    padding: 1em;
}

.heart-button {
    padding: 1em;
    background-color: rgb(224, 59, 59);
}

.heart-section p {
    width: 100%;
    text-align: center;
}

.post-content {
    border: 1px solid white;
    border-radius: 1em;
    padding: 1em;
}

.post h1 {
    margin: 0;
}

.post footer {
    display: flex;
    justify-content: space-between;
}

.comment-list {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    border: 1px solid white;
    padding: 1em;
    border-radius: 1em;
}

.comment-list h2 {
    margin: 0;
}

.comment {
    display: flex;
    padding: 1em;
    gap: 1em;
}

.comment-content {
    border: 1px solid white;
    padding: 1em;
    border-radius: 1em;
}
.comment-author {
    font-weight: bold;
    font-size: 1.25em;
}

.comment-header {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.comment-header p {
    margin: 0;
}

.comment-avatar img {
    border-radius: 50%;
}

/* controls */

.controls {
    display: flex;
    flex-direction: column;
}

.controls textarea {
    height: 50vh;
    outline: none;
    border: none;
    padding: 0.5em;
    font-size: 1.25rem;
}

.controls fieldset {
    border: none;
    font-size: 1.25em;
    padding: 1em 0;
}

.tools {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1em;
}

.tools button {
    width: 100%;
}

.manage-post {
    display: grid;
    gap: 2em;
    grid-template-columns: 4fr 1fr;
}

.manage-post h1,
.post-title {
    font-size: 2.5em;
    margin: 0;
}

.post-author a {
    color: var(--color-cool-blue);
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;
}

.user-profile p {
    margin: 0;
}

.user-name {
    font-weight: bold;
    font-size: 1.5em;
}

.error-message {
    color: crimson;
    font-weight: bold;
}

.upload-snippet {
    width: 20em;
    padding: 1em;
    overflow: scroll;
}

.image-uploader {
    display: flex;
    flex-direction: column;
}

.image-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}

label {
    text-align: center;
}

input[type='file'] {
    display: none;
}

.auth-check {
    padding: 0;
}

.post-section {
    display: flex;
    flex-direction: column;
}

.comment-box {
    outline: none;
    border: none;
    padding: 0.5em;
    font-size: 1rem;
    resize: none;
    width: 100%;
    border-radius: 0.5em;
    color: white;
    background: none;
    border: 1px solid white;
    overflow: hidden;
}

.comment-form-section {
    display: flex;
    gap: 1em;
    padding: 1em;
    align-items: center;
}
@media only screen and (max-width: 768px) {
    button {
        font-size: 0.8rem !important;
    }

    .main-post-content {
        grid-template-columns: 1fr;
    }

    html {
        font-size: 75%;
    }

    .manage-post {
        display: block;
    }

    .post-content img {
        width: 80%;
        height: auto;
    }
}

/* fonts*/
@font-face {
    font-family: Whitney;
    font-weight: 300;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-300.woff)
        format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-400.woff)
        format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 500;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-500.woff)
        format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 600;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-600.woff)
        format('woff');
}

@font-face {
    font-family: Whitney;
    font-weight: 700;
    src: url(https://cdn.jsdelivr.net/gh/ROMVoid95/DiscordFonts@master/Whitney/Whitney-700.woff)
        format('woff');
}

.hidden {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}